<div class="offer-area pt-100">
    <div class="container">
        <div class="section-title" style="margin-bottom: 0px;">
            <!-- <span class="sub-title">Make Connections</span> -->
            <h2 style="font-size: 3rem;
            font-weight: 500;
            line-height: 120%;
            font-style: normal;
            font-family: Displace-SemiBold, sans-serif;">Nusuk Hakkında</h2>
            <p>Bütünsel Yolculuk Platformu</p>
            <p>Mekke, Medine ve ötesine Hac veya Umre güzergahınızı oluşturmak için ilk resmi planlama, rezervasyon ve deneyim platformu olan Nusuk'u kullanın. Nusuk ile dünyanın dört bir yanından gelen gezginler, e-Vize başvurusundan otel ve uçuş rezervasyonuna kadar tüm ziyaretlerini kolayca organize edebilirler. Gelecekte Nusuk, önemli yerlere ziyaretleri planlamak, ulaşım bulmak, güzergahları düzenlemek ve Tavaf izleyici gibi yerinde araçlara ve daha fazlasına erişmek için de kullanılabilir.

            </p>
            <br>
        </div>
    </div>
</div>