<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="faq-accordion faq-accordion-style-two">
                <div class="accordion-item" *ngFor="let item of accordionItems; let i = index;">
                    <div class="accordion-header" (click)="toggleAccordionItem(item)">
                        {{ item.title }}
                        <i class='bx' [ngClass]="{'bx-chevron-down': !item.open, 'bx-chevron-up': item.open}"></i>
                    </div>
                    <div class="accordion-content" [hidden]="!item.open">
                        {{ item.content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="faq-accordion faq-accordion-style-two">
                <div class="accordion-item" *ngFor="let item of accordion1Items; let i = index;">
                    <div class="accordion-header" (click)="toggleAccordionItem(item)">
                        {{ item.title }}
                        <i class='bx' [ngClass]="{'bx-chevron-down': !item.open, 'bx-chevron-up': item.open}"></i>
                    </div>
                    <div class="accordion-content" [hidden]="!item.open">
                        {{ item.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="assets/img/test.png" alt="">



<!-- <div class="tabs-container">
    <div class="pane" id="tab1" *ngIf="currentTab === 'tab1'">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What’s the difference between college and university?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What are the different types of undergraduate degrees?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What are the different types of  graduate degrees?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Can you work while studying in the United States?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is distance education?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What do I need to know about mobile?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is content marketing?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Do I need a blog?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pane" id="tab2" *ngIf="currentTab === 'tab2'">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is distance education?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What do I need to know about mobile?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is content marketing?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Do I need a blog?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What’s the difference between college and university?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What are the different types of undergraduate degrees?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What are the different types of  graduate degrees?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Can you work while studying in the United States?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pane" id="tab3" *ngIf="currentTab === 'tab3'">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What’s the difference between college and university?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Can you work while studying in the United States?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is distance education?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What do I need to know about mobile?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is content marketing?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What are the different types of undergraduate degrees?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What are the different types of  graduate degrees?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Do I need a blog?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pane" id="tab4" *ngIf="currentTab === 'tab4'">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What’s the difference between college and university?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What are the different types of undergraduate degrees?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What are the different types of  graduate degrees?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Can you work while studying in the United States?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is distance education?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What do I need to know about mobile?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is content marketing?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Do I need a blog?</h3>
                    <p><strong>A:</strong> Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->